*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: Segoe UI, Helvetica;
  background-color: #fefefe;
  position: relative;
}

canvas {
  display: block;
}

textarea {
  position: absolute;
  top: 50%;
  left: 50%;;
  transform: translateX(-50%) translateY(-50%);
  font: inherit;
  line-height: 1.8;
  padding: 8px 12px;
  border-radius: 4px 4px 0px;
  outline: none;
  border: 1px solid #999;
  /* default size */
  width: 600px;
  height: 400px;
}
